<div class="container">    


  <div class="hero-unit">

  <%=image_tag("belly2-01.jpg", :width =>"350", :height => "150", :class => "img-circle pull-left")%>   
    <h1>BellyScratchers</h1>
    <br />
    <p>An Exclusive Dog Retreat. Some blurb about the 
       <br /> company the professional service. 
       <br /> What a great place it would beto send your dog. 
       <br /> Value for money. How much fun the dogs will have when they come and stay etc etc</p>
  </div>
</div>

<div class="row main-features">
  <div class="span4">
    <div class="well">
      <h3>Book a Hammock</h3>
      <p>Yes I'd love to come and stay. Heard so many good things.</p>
      <%= link_to new_booking_path, :class => "btn btn-info" do %>
        <span class=btn-label>Let's do it</span>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Resort Location</h3>
      <p>Located to the North of Brisbane with easy access everywhere. </p>
      <a class="btn btn-primary" href="#"><span class="btn-label">Find Out More</span></a> 
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>How much will it cost.</h3>
      <span><p>Get a quote now.</p>
      <a class="btn btn-success" href="#"><span class="btn-label">Get a Quote</span></a> 
    </div>
  </div>
</div>

